Matilde Desktop/ScciCore/Service References/SvcRefertiDWH/ScciRefertiDWH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScciRefertiDWH" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IScciRefertiDWH_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:SpnegoContextToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy />
                        </sp:SpnegoContextToken>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IScciRefertiDWH1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws-scci-main-test/ScciRefertiDWH.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws-scci-main-test/ScciRefertiDWH.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws-scci-main-test/ScciRefertiDWH.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" />
      <xsd:import schemaLocation="http://ws-scci-main-test/ScciRefertiDWH.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" />
      <xsd:import schemaLocation="http://ws-scci-main-test/ScciRefertiDWH.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScciRefertiDWH_RicercaRefertiDWH_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaRefertiDWH" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_RicercaRefertiDWH_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaRefertiDWHResponse" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaRefertoDWH_InputMessage">
    <wsdl:part name="parameters" element="tns:CaricaRefertoDWH" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaRefertoDWH_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaricaRefertoDWHResponse" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaRefertoDWHDettaglio_InputMessage">
    <wsdl:part name="parameters" element="tns:CaricaRefertoDWHDettaglio" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaRefertoDWHDettaglio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaricaRefertoDWHDettaglioResponse" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_RicercaContenutiReferto_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaContenutiReferto" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_RicercaContenutiReferto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaContenutiRefertoResponse" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaContenutiDaListaID_InputMessage">
    <wsdl:part name="parameters" element="tns:CaricaContenutiDaListaID" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_CaricaContenutiDaListaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaricaContenutiDaListaIDResponse" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_RicercaRefertiDWHTipi_InputMessage">
    <wsdl:part name="parameters" element="tns:RicercaRefertiDWHTipi" />
  </wsdl:message>
  <wsdl:message name="IScciRefertiDWH_RicercaRefertiDWHTipi_OutputMessage">
    <wsdl:part name="parameters" element="tns:RicercaRefertiDWHTipiResponse" />
  </wsdl:message>
  <wsdl:portType name="IScciRefertiDWH">
    <wsdl:operation name="RicercaRefertiDWH">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWH" message="tns:IScciRefertiDWH_RicercaRefertiDWH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWHResponse" message="tns:IScciRefertiDWH_RicercaRefertiDWH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWH">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWH" message="tns:IScciRefertiDWH_CaricaRefertoDWH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWHResponse" message="tns:IScciRefertiDWH_CaricaRefertoDWH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWHDettaglio">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWHDettaglio" message="tns:IScciRefertiDWH_CaricaRefertoDWHDettaglio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWHDettaglioResponse" message="tns:IScciRefertiDWH_CaricaRefertoDWHDettaglio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaContenutiReferto">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaContenutiReferto" message="tns:IScciRefertiDWH_RicercaContenutiReferto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaContenutiRefertoResponse" message="tns:IScciRefertiDWH_RicercaContenutiReferto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaricaContenutiDaListaID">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaContenutiDaListaID" message="tns:IScciRefertiDWH_CaricaContenutiDaListaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/CaricaContenutiDaListaIDResponse" message="tns:IScciRefertiDWH_CaricaContenutiDaListaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RicercaRefertiDWHTipi">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWHTipi" message="tns:IScciRefertiDWH_RicercaRefertiDWHTipi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWHTipiResponse" message="tns:IScciRefertiDWH_RicercaRefertiDWHTipi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IScciRefertiDWH" type="tns:IScciRefertiDWH">
    <wsp:PolicyReference URI="#WSHttpBinding_IScciRefertiDWH_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RicercaRefertiDWH">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWH">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWHDettaglio">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWHDettaglio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaContenutiReferto">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaContenutiReferto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaContenutiDaListaID">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaContenutiDaListaID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaRefertiDWHTipi">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWHTipi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IScciRefertiDWH1" type="tns:IScciRefertiDWH">
    <wsp:PolicyReference URI="#WSHttpBinding_IScciRefertiDWH1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RicercaRefertiDWH">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWH">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaRefertoDWHDettaglio">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaRefertoDWHDettaglio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaContenutiReferto">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaContenutiReferto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaricaContenutiDaListaID">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/CaricaContenutiDaListaID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaRefertiDWHTipi">
      <soap12:operation soapAction="http://tempuri.org/IScciRefertiDWH/RicercaRefertiDWHTipi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScciRefertiDWH">
    <wsdl:port name="WSHttpBinding_IScciRefertiDWH" binding="tns:WSHttpBinding_IScciRefertiDWH">
      <soap12:address location="https://ws-scci-main-test.asmn.net/ScciRefertiDWH.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://ws-scci-main-test.asmn.net/ScciRefertiDWH.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IScciRefertiDWH1" binding="tns:WSHttpBinding_IScciRefertiDWH1">
      <soap12:address location="http://ws-scci-main-test/ScciRefertiDWH.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://ws-scci-main-test/ScciRefertiDWH.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>