Matilde Desktop/ScciCore/Service References/SvcRicoveriDWH/ScciRicoveriDWH.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsSCCI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsSCCI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRisultatiLabAll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RisultatiLabAll" nillable="true" type="tns:RisultatiLabAll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRisultatiLabAll" nillable="true" type="tns:ArrayOfRisultatiLabAll" />
  <xs:complexType name="RisultatiLabAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodPrescrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodSezione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commenti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescPrescrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescrSezione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdReferto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantita" type="xs:double" />
      <xs:element minOccurs="0" name="Risultato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RisultatoNumericoAssente" type="xs:boolean" />
      <xs:element minOccurs="0" name="UM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RisultatiLabAll" nillable="true" type="tns:RisultatiLabAll" />
</xs:schema>