Matilde Desktop/ScciCore/Service References/SvcRicoveriDWH/ScciRicoveriDWH2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws-scci-main-test/ScciRicoveriDWH.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" />
  <xs:import schemaLocation="http://ws-scci-main-test/ScciRicoveriDWH.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WsSCCI" />
  <xs:element name="RicoveroPerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idricovero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicoveroPerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="RicoveroPerIdResult" nillable="true" type="q1:RicoveroDWH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaRicoveriDWH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datainizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datafine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaRicoveriDWHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="RicercaRicoveriDWHResult" nillable="true" type="q2:ArrayOfRicoveroDWHSintetico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datainizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datafine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="RicercaDatiLabDWHResult" nillable="true" type="q3:ArrayOfRisultatiLab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWHUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datainizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datafine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWHUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="RicercaDatiLabDWHUMResult" nillable="true" type="q4:ArrayOfRisultatiLabUm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWHAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idsac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datainizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datafine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaDatiLabDWHAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WsSCCI" minOccurs="0" name="RicercaDatiLabDWHAllResult" nillable="true" type="q5:ArrayOfRisultatiLabAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>