Matilde Desktop/ScciCore/Service References/SvcOrderEntry/ScciOrderEntry1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52485/ScciOrderEntry.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" />
  <xs:import schemaLocation="http://localhost:52485/ScciOrderEntry.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" />
  <xs:import schemaLocation="http://localhost:52485/ScciOrderEntry.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:52485/ScciOrderEntry.svc?xsd=xsd5" namespace="http://schemas.progel.it/WCF/OE/WsTypes/1.2" />
  <xs:element name="GetEroganti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErogantiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetErogantiResult" nillable="true" type="q1:ArrayOfOESistemaErogante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEroganti2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEroganti2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetEroganti2Result" nillable="true" type="q2:ArrayOfOESistemaErogante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceregime" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q3:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAziendaSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetPrestazioniResult" nillable="true" type="q4:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfili">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceregime" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q5:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAziendaSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfiliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetProfiliResult" nillable="true" type="q6:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfiliUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceregime" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q7:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAziendaSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfiliUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetProfiliUtenteResult" nillable="true" type="q8:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInProfilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazione" nillable="true" type="q9:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInProfiloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetPrestazioniInProfiloResult" nillable="true" type="q10:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_listaattesa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regime" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q11:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceFiscale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPaziente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataNascita" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnitaOperativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CreaOrdineResult" nillable="true" type="q12:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineEsteso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_listaattesa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regime" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q13:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceFiscale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPaziente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataNascita" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnitaOperativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineEstesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CreaOrdineEstesoResult" nillable="true" type="q14:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_listaattesa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regime" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q15:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="dataPrenotazione" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnitaOperativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaOrdineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalvaOrdineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaOrdineEsteso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_listaattesa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regime" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q16:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="dataPrenotazione" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnitaOperativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvaOrdineEstesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="SalvaOrdineEstesoResult" nillable="true" type="q17:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastExceptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOEorigine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdineNuovo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CreaOrdineCopiaResult" nillable="true" type="q18:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopia2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOEorigine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdineNuovo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopia2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CreaOrdineCopia2Result" nillable="true" type="q19:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopia3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOEorigine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOrdineNuovo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nosologiconuovo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_aziendauo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_codiceuo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="b_copiadatiaccessori" type="xs:boolean" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaOrdineCopia3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CreaOrdineCopia3Result" nillable="true" type="q20:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaOrdineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellaOrdineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineTestata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineTestataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetOrdineTestataResult" nillable="true" type="q21:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineDettaglioPerTestata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_testata" nillable="true" type="q22:OEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineDettaglioPerTestataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetOrdineDettaglioPerTestataResult" nillable="true" type="q23:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineDettaglio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdineDettaglioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetOrdineDettaglioResult" nillable="true" type="q24:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerPaziente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFine" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idSacPaziente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerPazienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CercaOrdiniPerPazienteResult" nillable="true" type="q25:ArrayOfOEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerNosologico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFine" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_listaattesa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerNosologicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CercaOrdiniPerNosologicoResult" nillable="true" type="q26:ArrayOfOEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InoltraOrdineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdineDaWorkstation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdineDaWorkstationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InoltraOrdineDaWorkstationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdineDaWorkstationEsteso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_workstation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InoltraOrdineDaWorkstationEstesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="InoltraOrdineDaWorkstationEstesoResult" nillable="true" type="q27:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGruppiPreferenziali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceregime" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q28:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAziendaSistemaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceSistemaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGruppiPreferenzialiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetGruppiPreferenzialiResult" nillable="true" type="q29:ArrayOfOEGruppoPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInGruppo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgruppo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtroprestazioni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInGruppoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetPrestazioniInGruppoResult" nillable="true" type="q30:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInGruppo2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceregime" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q31:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codiceAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceAziendaSistemaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codiceSistemaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgruppo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtroprestazioni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrestazioniInGruppo2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetPrestazioniInGruppo2Result" nillable="true" type="q32:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerStatoPianificato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFine" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CodAziendaSistemaErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodSistemaErogante" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="unitaoperative" nillable="true" type="q33:ArrayOfKeyValuePairOfstringstring" />
        <xs:element minOccurs="0" name="nosologico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datanascita" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="maxrecord" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaOrdiniPerStatoPianificatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="CercaOrdiniPerStatoPianificatoResult" nillable="true" type="q34:ArrayOfOEOrdineTestata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciPrestazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazioni" nillable="true" type="q35:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciPrestazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserisciPrestazioniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciPrestazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazione" nillable="true" type="q36:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciPrestazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserisciPrestazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaPrestazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazioni" nillable="true" type="q37:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaPrestazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellaPrestazioniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaPrestazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazione" nillable="true" type="q38:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancellaPrestazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancellaPrestazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsplodiProfilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazione" nillable="true" type="q39:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsplodiProfiloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsplodiProfiloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestazioniRecenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regime" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="priorita" type="q40:OEPrioritaOrdine" />
        <xs:element minOccurs="0" name="codAzienda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codUnita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conAziendaRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codSistRichiedente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codAziendaSistErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codSistErogante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSacPaziente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtroCodiceDescrizione" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestazioniRecentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="PrestazioniRecentiResult" nillable="true" type="q41:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslatePrioritaDescFromOE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" minOccurs="0" name="oepri" type="q42:OEPrioritaOrdine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslatePrioritaDescFromOEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TranslatePrioritaDescFromOEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaProfilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="prestazioni" nillable="true" type="q43:ArrayOfOEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaProfiloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaProfiloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProfilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodiceProfilo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProfiloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaProfiloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessorNecessari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessorNecessariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessorNecessariResult" nillable="true" type="q44:ArrayOfOEDatiAccessoriDescrittore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriOldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriOldResult" nillable="true" type="q45:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessori">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriResult" nillable="true" type="q46:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDatiAccessori">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="datiAggiuntivi" nillable="true" type="q47:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDatiAccessoriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FillDatiAccessoriResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDatiAccessoriEsteso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="datiAggiuntivi" nillable="true" type="q48:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDatiAccessoriEstesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="FillDatiAccessoriEstesoResult" nillable="true" type="q49:OEOrdineDettaglio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriTestata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriTestataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriTestataResult" nillable="true" type="q50:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriPrestazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_prestazione" nillable="true" type="q51:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriPrestazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriPrestazioneResult" nillable="true" type="q52:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriErogante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_erogante" nillable="true" type="q53:OESistemaErogante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriEroganteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriEroganteResult" nillable="true" type="q54:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriErogante2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriErogante2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriErogante2Result" nillable="true" type="q55:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriEroganteTestata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_erogante" nillable="true" type="q56:OESistemaErogante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriEroganteTestataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriEroganteTestataResult" nillable="true" type="q57:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriErogantePrestazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idOE" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_prestazione" nillable="true" type="q58:OEPrestazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatiAccessoriErogantePrestazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="GetDatiAccessoriErogantePrestazioneResult" nillable="true" type="q59:ArrayOfOEDatoAccessorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComparePrestazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" minOccurs="0" name="o_prestazione" nillable="true" type="q60:OEPrestazione" />
        <xs:element xmlns:q61="http://schemas.progel.it/WCF/OE/WsTypes/1.2" minOccurs="0" name="o_prestazione_oe" nillable="true" type="q61:RigaRichiestaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComparePrestazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComparePrestazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>