Matilde Desktop/ScciCore/Service References/SvcPrescrizioni/ScciPrescrizioni.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScciPrescrizioni" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IScciPrescrizioni_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.29.10.14:81/ScciPrescrizioni.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.29.10.14:81/ScciPrescrizioni.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.29.10.14:81/ScciPrescrizioni.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.Enums" />
      <xsd:import schemaLocation="http://172.29.10.14:81/ScciPrescrizioni.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnicodeSrl.Scci.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScciPrescrizioni_GeneraTaskDaPrescrizione_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneraTaskDaPrescrizione" />
  </wsdl:message>
  <wsdl:message name="IScciPrescrizioni_GeneraTaskDaPrescrizione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneraTaskDaPrescrizioneResponse" />
  </wsdl:message>
  <wsdl:message name="IScciPrescrizioni_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IScciPrescrizioni_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IScciPrescrizioni">
    <wsdl:operation name="GeneraTaskDaPrescrizione">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciPrescrizioni/GeneraTaskDaPrescrizione" message="tns:IScciPrescrizioni_GeneraTaskDaPrescrizione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciPrescrizioni/GeneraTaskDaPrescrizioneResponse" message="tns:IScciPrescrizioni_GeneraTaskDaPrescrizione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IScciPrescrizioni/Test" message="tns:IScciPrescrizioni_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScciPrescrizioni/TestResponse" message="tns:IScciPrescrizioni_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IScciPrescrizioni" type="tns:IScciPrescrizioni">
    <wsp:PolicyReference URI="#WSHttpBinding_IScciPrescrizioni_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraTaskDaPrescrizione">
      <soap12:operation soapAction="http://tempuri.org/IScciPrescrizioni/GeneraTaskDaPrescrizione" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IScciPrescrizioni/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScciPrescrizioni">
    <wsdl:port name="WSHttpBinding_IScciPrescrizioni" binding="tns:WSHttpBinding_IScciPrescrizioni">
      <soap12:address location="http://172.29.10.14:81/ScciPrescrizioni.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://172.29.10.14:81/ScciPrescrizioni.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>